/* || General setup */

html {
  font-size: 10px;
  background-color: rgb(0, 0, 0);
}

body {
  margin: 0;
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */

h1 {
  position: absolute;
  top: 0%;
  left: 50%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  z-index: 1;
  font-family: "Cinzel Decorative", cursive;
  color: #3cff01; 
}

/* id */
#menu{
  position: fixed;
  top: 0px;
  left: 50px;
  padding-inline-start: 0px;
  z-index: 2;
}

#menu li {
  list-style-type: none;
}

#loginWindow {
  position: fixed;
  z-index: 3;
}
