volumes:
  data:

networks:
  transcendence:
    driver: bridge
  
services:
  database:
    container_name: database
    image: postgres:latest
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data/pg15/
    env_file:
      - ../.env
    networks:
      - transcendence
    restart: always

  backend:
    container_name: backend
    build: ./srcs/backend
    ports:
      - "3001:3001"
    depends_on:
      - database
    # volumes:
    #   //
    env_file:
      - ../.env
    networks:
      - transcendence
    restart: always

  # frontend:
  #   container_name: frontend
  #   build: ./docker/frontend
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - backend
  #   volumes:
  #     //
  #   env_file:
  #     //
  #   networks:
  #     - transcendence
  #   restart: always