

/* ///////////////////////////////////////////////////////// */
:root {
	--custom-value: hello;

    --app-background-base: radial-gradient(
        circle at top,
        #000000,
        #4d4d4d
    );

    --app-background-image: url("./assets/background.png");
    --num-value: 10px;
	--black: #000000;
}

/* ///////////////////////////////////////////////////////// */
*, *::before, *::after {


}

body {

  line-height: 1.6; /* inherited */
  word-spacing: 1.4px; /* inherited */
  font-size: 100px;
  font-family: "Roboto", sans-serif; /* inherited */
  color: var(--black); /* inherited */

  
  margin: 0;
  padding: 0;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ///////////////////////////////////////////////////////// */

.button {
	color: red;
	margin: 5px 50px;
	padding: 5px 50px;
}